// Color Variables
$white: #fff;
$black: #000;
$border-color: #dedede;
$heading-font:"DotGothic16", Gulim, Dotum, "Arial Rounded MT Bold", sans-serif;
$body-font:"DotGothic16", Gulim, Dotum, "Arial Rounded MT Bold", sans-serif;
$extra-color:#e8eefb;
$primary-color:#365a3d;
$secondary-color:#f7f7f7;