<section class="portfolio" id="portfolio">
	<div class="container">
		<div class="row mb-5 portfolio-filters">
			<div class="col-12">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn active">
						<input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
					</label>
					<label class="btn">
						<input type="radio" name="shuffle-filter" value="design" />Design
					</label>
					<label class="btn">
						<input type="radio" name="shuffle-filter" value="photo" />Photography
					</label>
					<label class="btn">
						<input type="radio" name="shuffle-filter" value="art" />Art
					</label>
				</div>
			</div>
		</div>

		<div class="row portfolio-gallery" data-portfolio-gallery></div>
	</div>
</section>
